 nav {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
 }
 /* unordered list */
 
 ul {
     /* remove default margins and paddings  */
     display: flex;
     padding: 0px;
     justify-content: center;
 }
 /* li */
 
 li {
     /* remove bullet points */
     list-style-type: none;
     /* set arrange list items on one line */
     display: inline-block;
     margin-right: 10%;
 }
 /* logo */
 
 img {
     height: 35px;
 }
 /* input and buttons */
 /* profile Drop Down */
 
 .profileDropDown {
     width: 20%;
     position: fixed;
     right: 0;
     margin-right: 2%;
     margin-top: -2%;
 }
 
 input {
     padding: 10px;
     font-size: 18px;
 }