 nav {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
 }
 /* unordered list */

 ul {
     /* remove default margins and paddings  */
     margin: 0px;
     padding: 0px;
     justify-items: center;
     justify-content: center;
 }
 /* li */

 li {
     /* remove bullet points */
     list-style-type: none;
     /* set arrange list items on one line */
     display: inline-block;
     /* float the links to the right */
     float: right;
 }
 /* logo */

 img {
     height: 35px;
 }
 /* input and buttons */
