<!-- navigation bar -->
<nav class=" secondary pad-1">
    <!-- logo -->
    <div class="col-2">
        <img src="/assets/logo.png">
    </div>
    <!-- search bar -->
    <input class="col-5" type="text">
    <button class="col-1 primary">search</button>


    <!-- links (cart, profile) -->
    <ul class="col-2 links ">
        <!-- cart -->
        <li>
            <a> <i class="fa fa-shopping-cart"></i></a>
        </li>
        <!-- profile -->
        <li>
            <a><i class=" fa fa-user"></i></a>
        </li>
    </ul>
</nav>
