<!-- receive our emails -->
<div class="col-12  pad-4" style="text-align: center; background-color: #12226A;">
    <input class="pad-half" type="text"> <button class="primary pad-half">submit</button>
    <br> subscribe to our email
</div>

<!--  links -->

<div class="col-12 container pad-5">
    <!-- ---------------------links and pages------------------------------- -->
    <div class="col-4 col-sm-half">

        <!-- title -->
        <div class="header">
            Accounts
        </div>

        <ul>
            <li>
                <a>Sign Up</a>
            </li>
            <!--  -->
            <li>
                <a>Log In</a>
            </li>
            <!--  -->
            <li>
                <a>Orders</a>
            </li>
            <!--  -->
            <li>
                <a>Profile</a>
            </li>
        </ul>
    </div>

    <!-- Company -->
    <div class="col-4 col-sm-half">

        <!-- title -->
        <div class="header">
            Company
        </div>

        <ul>
            <li>
                <a>FAQs</a>
            </li>
            <!--  -->
            <li>
                <a>Contact us</a>
            </li>
            <!--  -->
            <li>
                <a>Terms and Conditions</a>
            </li>
            <!--  -->
            <li>
                <a>Profile</a>
            </li>
        </ul>
    </div>

    <!-- social -->
    <div class="col-4 col-sm-full social">
        <!-- title -->
        <div class="header">
            <span>
             Social
           </span>
        </div>

        <ul>
            <li>
                <a class="fa fa-facebook"> <wbr>
                    <span>
                    Facebook
                  </span>
                </a>
            </li>
            <!--  -->
            <li>
                <a class="fa fa-twitter"> <wbr>
                    <span>
                    Twitter
                  </span>
                </a>
            </li>
            <!--  -->
            <li>
                <a class="fa fa-instagram"> <wbr>
                    <span>
                    Instagram
                  </span>
                </a>
            </li>
            <!--  -->
            <li>
                <a class="fa fa-youtube"> <wbr>
                    <span>
                    Youtube
                  </span>
                </a>
            </li>
        </ul>
    </div>

</div>

<!-- footer -->
<footer class="col-12 pad-1">
    <a>
    Privacy Policy |
  </a> &copy; 2020 ike-njoku

</footer>
