<div id="loginForm" class="pad-10 secondary mg-10">
    <!--form  -->
    <form action="">
        <div class="container">

            <div class="header col-10">
                <!-- logo -->
                Slime.com
                <hr>
            </div>
            <!-- input (email) -->
            <input class="col-10  mg-3 " type="email" name="" id="" placeholder="Email">
            <!-- input (password) -->
            <input class="col-10 mg-3 " type="password" name="" placeholder="Password" id="">

            <div class="col-10">
                <hr>
                <!-- submit button  -->
                <button class="mg-2 primary pad-2">submit</button>
                <!-- signUp -->
                <a class="mg-2 secondary pad-2">sign Up</a>

            </div>

        </div>
    </form>



</div>
