<div id="loginForm" class="pad-8 secondary mg-8 col-sm-full">
    <!--form  -->
    <form action="">
        <div class="container">

            <div class="header col-12">
                <!-- logo -->
                Slime.com
                <hr>
            </div>
            <!-- input (email) -->
            <input class="col-12  mg-3 pad-2 " type="email" name="" id="" placeholder="Email">
            <!-- input (password) -->
            <input class="col-12 mg-3 pad-2 " type="password" name="" placeholder="Password" id="">

            <div class="col-12">
                <hr>
                <!-- submit button  -->
                <button class="mg-2 primary pad-2">submit</button>
                <!-- signUp -->
                <a class="mg-2 secondary pad-2">sign Up</a>

            </div>
        </div>
    </form>



</div>
