<div class="container pad-3">

    <!-- cart table -->
    <table class="col-9 mg-2 col-sm-full pad-3 box border-thin">
        <!-- table head -->
        <thead class="container col-12 ">
            <!-- product -->
            <tr class="col-5 mg-half">
                <th>PRODUCT</th>
            </tr>
            <!-- quantity -->
            <tr class="col-3 mg-half">
                <th>
                    QUANTITY
                </th>
            </tr>
            <!-- unit const  -->
            <tr class="col-3 mg-half">
                <th>PRICE</th>
            </tr>
            <!-- row cost  -->
            <tr class="col-1 mg-half">
                <th>
                    <!-- add to wish list / delete -->
                </th>
            </tr>

        </thead>
        <!-- table body -->
        <tbody>

            <tr>
                <td>hello</td>
            </tr>
        </tbody>
    </table>

    <!-- voucher and summary -->
    <div style="font-size: large;" class="col-3 mg-2 col-sm-full container">
        <!-- add voucher -->
        <div class="mg-b-5 box border-thin pad-5 container col-12 ">
            <div class="col-12 mg-2">
                Have a voucher?
            </div>
            <input class="border-thin pad-3 col-12 mg-2" type="text" placeholder="Enter a Voucher Code">
        </div>

        <!-- summary -->
        <div class=" box border-thin pad-5 col-12 ">
            <div class="mg-b-5">
                Total Price:
            </div>
            <div class="mg-b-5">
                Discount:
            </div>
            <div class="mg-b-5">
                Total:
            </div>
            <div class="mg-b-5">
                <hr>
            </div>
            <!-- supported card types -->
            <div class="col-12 imageContainer pad-2">
                <img height="26" class="col-12" src="/assets/paymentCards/payments.png" alt="">
            </div>
        </div>
    </div>
</div>
