/* input tag (for voucher) */


/* table head */

thead {
    color: #495057;
    font-size: small;
}

input {
    border: thin solid lightgray;
}

tr img {
    width: 80%;
}

th,
td {
    padding: 2%;
    margin: 2%;
}

select {
    border: thin solid lightgray;
    width: 100%;
    padding: 5%;
}


/* preferences */

.preference {
    color: grey;
}
