<!-- New Arrivals -->
<div style=" border-top: solid 50px #7594B1; border-top-left-radius: 10px; border-top-right-radius: 10px;" class="box mg-2 pad-2">
    <!-- header  -->
    <div class="header mg-2">
        New Arrivals
    </div>
    <!-- ------------------- -->
    <div class="container">
        <!-- banner -->
        <div class="banner pad-10 col-sm-full row-2">
            <button class="secondary pad-2 shd-1">view more</button>
        </div>

        <!-- list of New Arrivals -->
        <a class="box shd-1 mg-2 pad-10 col-2 col-sm-half " *ngFor="let product of products" (click)="selectProduct(product)">

            <!-- product Image -->
            <div class="imageContainer">
                <img class="productImage" src="{{product.image1}}" alt="">
            </div>

            <!-- product name -->
            <div class="productName">
                {{product.name}}
            </div>

            <!-- product Price -->
            <div class="productPrice">
                {{product.price|currency:'NGN'}}
            </div>
        </a>
    </div>

    <!-- display the selected Product  -->
    <app-product-detail class="col-12" [product]="selectedProduct"></app-product-detail>



</div>
