<form action="">
    <div class="container">
        <div class=" container col-6 col-sm-full secondary box pad-5 mg-5">
            <!-- header -->
            <div class="header col-12">Slime.com
                <hr>
            </div>
            <!-- input fields -->
            <input type="text" class="pad-2 mg-2 col-12" placeholder="Name">
            <input type="text" class="pad-2 mg-2 col-12" placeholder="E-mail">
            <input type="password" class="pad-2 mg-2 col-12" placeholder="Password">
            <input type="password" class="pad-2 mg-2 col-12" placeholder="Re-Type Password">

            <!-- footer / submit -->
            <div class="col-12 mg-t-2 mg-b-2">
                <hr>
                <a routerLink="/sign-in" class="pad-2 f-right box mg-half"> Sign In </a>
                <button class="primary pad-2 f-right mg-half">Create Account</button>
            </div>

        </div>
    </div>
</form>
