<!--form (signup) -->
<div class="container col-12 pad-8 mg-8 secondary">
    <div class="header col-12">Slime.com
        <hr>
    </div>

    <div class="col-12">
        <!-- input -->
        <input type="text" placeholder="Name" class="pad-2 mg-2 col-12">
        <input type="Email" placeholder="E-mail" class="pad-2 mg-2 col-12">
        <input type="password" placeholder="Password" class="pad-2 mg-2 col-12">
        <input type="password" placeholder=" Re-Type Password" class="pad-2 mg-2 col-12">
    </div>

    <div class="col-12 mg-t-2">
        <hr>
        <button class="primary pad-2 f-right">Create Account</button>
    </div>
</div>