<div class="box pad-1">
    <!-- slide Images -->
    <img data-slideImage>

    <!-- slide controls -->
    <span (click)="displayPreviousSlide()" class=" previousSlide fa fa-chevron-left col-1 "></span>
    <span (click)="displayNextSlide()" class="nextSlide fa fa-chevron-right col-1 "></span>

    <!-- indicators -->
    <div>
        <ul>
            <!-- add angular class binding -->
            <li class="fa fa-circle mg-1 " *ngFor="let slideImage of slideImages " (click)="goToSlide(slideImage.imageLocation)" [class.active]='slideImage===slideImages[slideImageIndex]'></li>
        </ul>
    </div>

</div>
