<!-- display feedback if -->
<div *ngIf="feedBackService.feedBack.length" class="container shd-1 col-12">
    <ng-container *ngIf="feedBackService.feedBackType && feedBackService.feedBackType; else elseTemplate">
        <div class="col-12 pad-1 box successful">
            {{feedBackService.feedBack}}
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="col-12 pad-1 box unsuccessful">
            {{feedBackService.feedBack}}
        </div>
    </ng-template>
</div>